.navbar-brand{
    padding: 0px;
}
.navbar-brand img {
    height: 50px;
    width: 150px;
}

.navbar-nav li a {
    text-decoration: none;
    color: #838b8b;
    font-size: 20px
}
.navbar-nav li a:hover
 {
    background-color: black;
}

