/* You can add global styles to this file, and also import other style files */
  h2, h3 {
    color: dimgray;
    font-family:  sans-serif;
    font-weight: bold;
  }
  body {
    margin: 2em;
  }
  
.title,.subtitle{
  width: 174px;
}
.title{
  font-weight: bold;
}
.subtitle{
  color: dimgray;
  font-weight: bolder;
}
.col-sm-3{
  height: 250px;
  
}
.table{
  width: 60%;
}
.thumbnail{
  width: 174px;
}
.container , .row{
  padding-top: 20px;
}
.button{
  background-color:#555555;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 12px 32px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
.button:hover {
  background-color:#e7e7e7; 
  color: black;
}
.button-clicked {
  color: red;
}